<nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
      <a href="#" class="">
        <img src="~assets/images/anyonebook-logo-black.png" class="img-responsive" alt="logo img" style="width:85px" >
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right text-uppercase">
        <li><a href="#home">主頁</a></li>
        <li><a href="#pricing">數學任壹本</a></li>
        <li><a href="#chi-any-one">語文任壹本</a></li>
        <li><a href="#download">登入 / 註冊</a></li>
        <li><a href="#contact">聯絡我們</a></li>
      </ul>
    </div>
  </div>
</nav>
