<section id="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-4 wow fadeInUp templatemo-box"
        data-wow-delay="0.3s">
        <i class="fa fa-book"></i>
        <h3 class="text-uppercase">圖書教學</h3>
        <p>
          <ul style="text-align:left">
            <li>故事內容可以任由選擇</li>
            <li>可調節故事內容的深淺程度，以符合學生的學習差異</li>
            <li>以故事性提高學生的學習興趣</li>
            <li>語言和文字可以任由選擇</li>
          </ul>
        </p>
    </div>
    <div class="col-md-4 wow fadeInUp templatemo-box"
      data-wow-delay="0.3s">
      <i class="fa fa-font"></i>
      <h3 class="text-uppercase">教材選頁</h3>
      <p>
          <ul style="text-align:left">
              <li>由學校自主選頁並混合使用</li>
              <li>可作為校本，班本或組本練習教材</li>
              <li>難度/題型選頁，差異融和，各適其適</li>
              <li>可因應要求專人作出調整</li>
            </ul>
      </p>
  </div>
  <div class="col-md-4 wow fadeInUp templatemo-box"
    data-wow-delay="0.3s">
    <i class="fa fa-laptop"></i>
    <h3 class="text-uppercase">教學平台</h3>
    <p>
        <ul style="text-align:left">
            <li>每頁內容都有相應的電子教案</li>
            <li>囊括第三方教材，讓學生全方位理解指定課題，供備課或重溫</li>
            <li>設有課後評估和教學分析，讓老師檢視和調整教學流程</li>
            <li>每頁內容都有相應的電子平台，提供新聞視頻，學習視頻等資源配合，擴闊學生的知識面</li>
          </ul>  
    </p>
    </div>
    </div>
    </div>
</section>
