<section id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow bounceIn">
        <h2 class="text-uppercase">數學任壹本 &nbsp; 你選左未？</h2>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
        <div class="pricing">
          <div class="pricing-title">
            <!-- <h4>Basic Plan</h4>
            <p>$11</p>
            <small class="text-lowercase">monthly</small> -->
            <img src="~assets/images/math_mock100_progressive.jpeg" class="img-responsive" alt="Mock100 img" width="100%">
          </div>
          <p>
            配合全港性系統評估 中一入學前學科測驗及現有課程。自選同步漸進式分類練習，程度深淺，進度隨意。自選模擬目録，教學同步。
          </p>
          <button class="btn btn-primary">詳細資料</button>
        </div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
        <div class="pricing active">
          <div class="pricing-title">
            <!-- <h4>Business Plan</h4>
            <p>$22</p>
            <small class="text-lowercase">monthly</small> -->
            <img src="~assets/images/math_mock100_at.jpeg" class="img-responsive" alt="Mock100 img" width="100%">
          </div>
          <p>
              同一封面,同樣題型，三層解難程度，為能力差異同學做好準備。自選模擬目錄，各適其適，內容全新修訂，百分百教學同步。 
          </p>
          <button class="btn btn-primary text-uppercase">詳細資料</button>
        </div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
        <div class="pricing text-uppercase">
          <div class="pricing-title">
              <img src="~assets/images/math_anyone.jpeg" class="img-responsive" alt="Mock100 img" width="100%">
            <!-- <h4>Pro Plan</h4>
            <p>$33</p>
            <small class="text-lowercase">monthly</small> -->
          </div>
          <p>
              不同題型組合建構成異曲同工的學科練習。以同步、解難、進階、攻略等主題組合建構成學習精、準、快的補温、進階、應試及同步練習。
          </p>
          <button class="btn btn-primary text-uppercase">詳細資料</button>
        </div>
      </div>
    </div>
  </div>
</section>
