<section id="home">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
          <h1 class="text-upper">
            任壹本共享出版平台 <br/> AnyOneBook 
          </h1>
          <p class="tm-white">
            AnyOneBook is a collaborative publishing marketplace, matching quality graphic contents, professional and adaptive writers as well as readers of different ages and languages
          </p>
          <img src="~assets/images/adaptivebook.png" class="img-responsive" alt="home img">
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</section>
