<section id="contact">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <h2 class="text-uppercase">聯絡我們</h2>
          <p>有 問 題 ？ 我 哋 樂 意 為 你 提 供 協 助 。 
            你 亦 可 以 將 你 嘅 問 題 填 寫 到 下 列 表 格 或 直 接 電 郵 至 <a href="mailto:info@ilearners.hk" style="color:lightyellow">info@ilearners.hk</a> 查 詢 ， 
            我 哋 嘅 客 戶 服 務 主 任 會 喺 下 個 工 作 天 內 儘 快 回 覆 你 。 </p>
          <address>
            <p><i class="fa fa-map-marker"></i>Room 219, 2/F, 72 Tat Chee Avenue, Kowloon Tong, Kowloon, HK</p>
            <p><i class="fa fa-phone"></i> +852 2564 6822</p>
            <p><i class="fa fa-envelope-o"></i> info@ilearners.hk</p>
          </address>
        </div>
        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <div class="contact-form">
            <form action="#" method="post" @submit.stop="console.log($event)">
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Name">
              </div>
              <div class="col-md-6">
                <input type="email" class="form-control" placeholder="Email">
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Subject">
              </div>
              <div class="col-md-12">
                <textarea class="form-control" placeholder="Message" rows="4"></textarea>
              </div>
              <div class="col-md-8">
                <input type="submit" class="form-control text-uppercase" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
