<section id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
        <h2 class="text-uppercase">登入 / 註冊</h2>
        <p>註冊程序簡便、快捷又免費。<br>

            註冊後，你便可以：<br>
            <ul>
            <li>購買、出售選頁書，並與其他會員交流。</li> 
            
            <li>儲存最愛的關鍵字，並在心水書本刊登時收到通知。</li> 
            
            <li>追蹤最多 5 個主題。</li> 
            
            <li>不論身在何處，你都可用電腦上網檢視自己的 AnyOneBook 的資料 </li> 
          </ul></p>
        <!-- <button class="btn btn-primary text-uppercase"><i class="fa fa-download"></i> Download</button> -->
      </div>
      <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
        <img src="~assets/images/login-graphic.png" class="img-responsive" alt="feature img">
      </div>
    </div>
  </div>
</section>
